<!DOCTYPE html>
<html lang="ru">

<head>
    <!-- Required meta tags -->
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">

    <link rel="stylesheet" href="{{ url_for('static', filename='stylelog_reg.css')}}">

    <title>Личный кабинет</title>

</head>

<body class="back">

    <nav class="navbar navbar-expand-md navbar-dark bg-dark">
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item">
                    <a class="nav-link" href="cabinet">Личный кабинет</a>
                </li>
                <li class="nav-item" id="prod">
                    <a href="sale" class="button nav-link">Продажа</a>
                </li>
                <li class="nav-item" id="dob">
                    <a href="book" class="button nav-link">Добавление книги</a>
                </li>
                <li class="nav-item" id="s_pok">
                    <a href="create_pok" class="button nav-link">Создание покупателя</a>
                </li>
                <li class="nav-item" id="s_rab">
                    <a href="create_rab" class="button nav-link">Создание работника</a>
                </li>
                <li class="nav-item" id="del">
                    <a href="del" class="button nav-link">Удаление книги</a>
                </li>
                <li class="nav-item active" id="pols">
                    <a href="all" class="button nav-link">Пользователи</a>
                </li>
            </ul>
        </div>
    </nav>

    <div class="container">
        <div class="row">
            <div class="col-md-6 offset-md-3">
                <h2 class="title text-center font-weight-bold font-italic">Все пользователи</h2>
                <div class="form-group pt-3">
                    <p class="pt-2">{{ pols }}</p>
                </div>
            </div>
        </div>
        <ul class="pagination justify-content-center mr-auto col-md-6 offset-md-3">
            {% for page_num in posts.iter_pages(left_edge=1, right_edge=1, left_current=1, right_current=2) %}
                {% if page_num %}
                    {% if posts.page == page_num %}
                        <a class="btn mb-4 ml-3 mr-3" href="{{ url_for('users', page=page_num) }}">{{ page_num }}</a>
                     {% else %}
                         <a class="btn mb-4 ml-3 mr-3" href="{{ url_for('users', page=page_num) }}">{{ page_num }}</a>
                    {% endif %}
                {% else %}
                     ...
                {% endif %}
            {% endfor %}
        </ul>
    </div>

    <script>
        if ("{{ role }}" == "Покупатель") {
            document.getElementById("prod").style.display = "none";
            document.getElementById("dob").style.display = "none";
            document.getElementById("s_pok").style.display = "none";
            document.getElementById("s_rab").style.display = "none";
            document.getElementById("del").style.display = "none";
            document.getElementById("dolg").style.display = "none";
            document.getElementById("zarp").style.display = "none";
            document.getElementById("pols").style.display = "none";
        } else if ("{{ role }}" == "Продавец") {
            document.getElementById("prod").style.display = "";
            document.getElementById("dob").style.display = "";
            document.getElementById("s_pok").style.display = "none";
            document.getElementById("s_rab").style.display = "none";
            document.getElementById("del").style.display = "none";
            document.getElementById("dolg").style.display = "";
            document.getElementById("zarp").style.display = "";
            document.getElementById("pols").style.display = "none";
        }
    </script>

    </script>

    <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>
    <script src="{{ url_for('static', filename='login.js')}}"></script>
</body>

</html>
