<!DOCTYPE html>
<html lang="ru">

<head>
    <!-- Required meta tags -->
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">

    <link rel="stylesheet" href="{{ url_for('static', filename='stylelog_reg.css')}}">
    <link rel="stylesheet" href="{{ url_for('static', filename='stylemod.css')}}">

    <title>Удаление книги</title>

</head>

<body class="back">

    <nav class="navbar navbar-expand-md navbar-dark bg-dark">
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item">
                    <a class="nav-link" href="cabinet">Личный кабинет</a>
                </li>
                <li class="nav-item">
                    <a href="sale" class="button nav-link">Продажа</a>
                </li>
                <li class="nav-item">
                    <a href="book" class="button nav-link">Добавление книги</a>
                </li>
                <li class="nav-item">
                    <a href="create_pok" class="button nav-link">Создание покупателя</a>
                </li>
                <li class="nav-item">
                    <a href="create_rab" class="button nav-link">Создание работника</a>
                </li>
                <li class="nav-item active">
                    <a href="del" class="button nav-link">Удаление книги</a>
                </li>
            </ul>
        </div>
    </nav>

    <div class="container">
        <div class="row">
            <div class="col-md-6 offset-md-3 mt-5">
                <div class="form-group pl-3">
                    <ul class="navbar-nav mr-auto">
                        <!-- Ссылки на вызов модальных окон -->
                        <li>
                            <a href="#win1" class="button nav-link">Каталог книг</a>
                        </li>
                    </ul>
                </div>
                <a href="#x" class="overlay" id="win1"></a>
                <div class="popup">
                    <a class="close" title="Закрыть" href="#close"></a>
                    <div class="heig">
                        <p class="pt-2">Каталог: {{ сatalog }}</p>
                    </div>
                </div>
                <div>
                    <form action="http://127.0.0.1:5000/del" method="post" name="form" class="py-3 back_w  needs-validation" novalidate>
                        <div class="form-group px-3">
                            <label for="IDBook" class="col-form-label col-form-label-md pt-0">id книги</label>
                            <input type="text" name="id_books" class="form-control form-control-lg" id="IDBook" required>
                        </div>
                        <button type="submit" class="btn text-white w-25 mt-2 ml-3" style="background-color: #15a98b;">
                            Удалить
                        </button>
                    </form>
                </div>
            </div>
        </div>
        {% with messages = get_flashed_messages() %}
        {% if messages %}
        <ul class=flashes>
            {% for message in messages %}
            <li>{{ message }}</li>
            {% endfor %}
        </ul>
        {% endif %}
        {% endwith %}
    </div>

    <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>
    <script src="{{ url_for('static', filename='login.js')}}"></script>
</body>

</html>
