<!DOCTYPE html>
<html lang="ru">

<head>
    <!-- Required meta tags -->
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">

    <link rel="stylesheet" href="{{ url_for('static', filename='stylelog_reg.css')}}">

    <title>Редактировать</title>

</head>

<body class="back">

    <nav class="navbar navbar-expand-md navbar-dark bg-dark">
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>


    </nav>

    <div class="container">
        <div class="row">
            <div class="col-md-6 offset-md-3">
                <div class="form-group" id="rol">
                    <p>Роль: {{ role }}</p>
                </div>
                <div>
                    <form action="http://127.0.0.1:5000/edit" method="post" name="form" class="py-3 needs-validation" style="background-color: #fff;" novalidate>
                        <div class="form-group px-3">
                            <label for="IDClients" class="col-form-label col-form-label-md pt-0">id клиента</label>
                            <input type="text" name="id_clients" class="form-control form-control-lg" id="IDClients" required disabled>
                        </div>
                        <div class="form-group px-3">
                            <label for="InputEmail" class="col-form-label col-form-label-md pt-0">Email</label>
                            <input type="email" name="email" class="form-control form-control-lg" id="InputEmail" required disabled>
                        </div>
                        <div class="form-group px-3 mb-0">
                            <label for="InputName" class="col-form-label col-form-label-lg pt-0">ФИО</label>
                            <input type="text" name="fio" class="form-control form-control-lg" id="InputName" required>
                        </div>
                        <div class="form-group px-3 mb-0">
                            <label for="InputCr" class="col-form-label col-form-label-lg pt-0">Создан</label>
                            <input type="date" name="created" class="form-control form-control-lg" id="InputCr" required>
                        </div>
                        <div class="form-group px-3 mb-0">
                            <label for="InputDOB" class="col-form-label col-form-label-lg pt-0">Дата рождения</label>
                            <input type="date" name="dob" class="form-control form-control-lg" id="InputDOB" required>
                        </div>
                        <div class="form-group px-3 mb-0">
                            <label for="InputTel" class="col-form-label col-form-label-lg pt-0">Телефон</label>
                            <input type="text" name="phone" class="phone form-control form-control-lg" id="InputTel" required>
                        </div>
                        <div class="form-group px-3 mb-0">
                            <label for="InputComp" class="col-form-label col-form-label-lg pt-0">Компания</label>
                            <input type="text" name="company" class="form-control form-control-lg" id="InputComp" required>
                        </div>
                        <div class="form-group px-3 mb-0">
                            <label for="InputPassword1" class="col-form-label col-form-label-lg">Пароль</label>
                            <input type="password" name="password" class="form-control form-control-lg" id="InputPassword1" required>
                        </div>
                        <div class="form-group px-3 mb-0">
                            <label for="InputAdress" class="col-form-label col-form-label-lg pt-0">Адрес</label>
                            <input type="text" name="address" class="form-control form-control-lg" id="InputAdress" required>
                        </div>
                        <div class="form-group px-3 mb-0">
                            <label for="InputCard" class="col-form-label col-form-label-lg pt-0">Карта</label>
                            <input type="text" name="card" pattern="[0-9]{4}\s[0-9]{4}\s[0-9]{4}\s[0-9]{4}" placeholder="XXXX XXXX XXXX XXXX" class="form-control form-control-lg" id="InputCard" required>
                        </div>
                        <div class="form-group px-3 mb-0">
                            <label for="sum" class="col-form-label col-form-label-md pt-0">Количество денег на карте</label>
                            <input type="number" name="amount" class="form-control form-control-lg" id="sum" required>
                        </div>
                        <button type="submit" class="btn text-white w-25 mt-2 ml-3">
                            Изменить
                        </button>
                    </form>
                </div>
            </div>
        </div>
    </div>

    
    <script>
        var pol = document.getElementById('IDClients');
        var pol2 = document.getElementById('InputEmail');
        var pol3 = document.getElementById('InputName');
        var pol4 = document.getElementById('InputCr');
        var pol5 = document.getElementById('InputDOB');
        var pol6 = document.getElementById('InputTel');
        var pol7 = document.getElementById('InputPassword1');
        var pol8 = document.getElementById('InputAdress');
        var pol9 = document.getElementById('InputCard');
        var pol10 = document.getElementById('sum');
        var pol11 = document.getElementById('InputComp');
        pol.value = {{ id_clients }};
        pol2.value = '{{ email }}';
        pol3.value = '{{ fio }}';
        pol4.value = '{{ created }}';
        pol5.value = '{{ dob }}';
        pol6.value = '{{ phone }}';
        pol7.value = '{{ password }}';
        pol8.value = '{{ address }}';
        pol9.value = '{{ card }}';
        pol10.value = '{{ amount }}';
        pol11.value = '{{ company }}';
    </script>
    <script>
        document.getElementById("rol").style.display = "none";
    </script>
    <script>
        if ("{{ role }}" == "Покупатель") {
            document.getElementById("prod").style.display = "none";
            document.getElementById("dob").style.display = "none";
            document.getElementById("s_pok").style.display = "none";
            document.getElementById("s_rab").style.display = "none";
            document.getElementById("del").style.display = "none";
            document.getElementById("dolg").style.display = "none";
            document.getElementById("zarp").style.display = "none";
            document.getElementById("pols").style.display = "none";
        } else if ("{{ role }}" == "Продавец") {
            document.getElementById("prod").style.display = "";
            document.getElementById("dob").style.display = "";
            document.getElementById("s_pok").style.display = "none";
            document.getElementById("s_rab").style.display = "none";
            document.getElementById("del").style.display = "none";
            document.getElementById("dolg").style.display = "";
            document.getElementById("zarp").style.display = "";
            document.getElementById("pols").style.display = "none";
        }

    </script>
    <script>
        var cc = form.card;
        for (var i in ['input', 'change', 'blur', 'keyup']) {
            cc.addEventListener('input', formatCard, false);
        }

        function formatCard() {
            var card = this.value.replace(/[^\d]/g, '').substring(0, 16);
            card = card != '' ? card.match(/.{1,4}/g).join(' ') : '';
            this.value = card;
        }

    </script>
    <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>
    <script src="{{ url_for('static', filename='login.js')}}"></script>
</body>

</html>
