<!DOCTYPE html>
<html lang="ru">

<head>
    <!-- Required meta tags -->
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">

    <link rel="stylesheet" href="{{ url_for('static', filename='stylelog_reg.css')}}">
    <link rel="stylesheet" href="{{ url_for('static', filename='stylemod.css')}}">
    <script src="https://code.jquery.com/jquery-2.2.4.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery.maskedinput/1.4.1/jquery.maskedinput.min.js"></script>

    <title>Логинация</title>

</head>

<body class="back">

    <nav class="navbar navbar-expand-md navbar-dark bg-dark">
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item active">
                    <a class="nav-link" href="login.html">Логинация</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="registration.html">Регистрация</a>
                </li>
            </ul>
        </div>
    </nav>

    <div class="container">
        <div class="row">
            <div class="col-md-6 offset-md-3">
                <img src="emb.png" alt="Emblem" class="rounded float-left emblem">
                <img src="emb.png" alt="Emblem" class="rounded float-right emblem">
                <h2 class="title text-center font-weight-bold font-italic">Добро пожаловать!</h2>
                <div class="row">
                    <div class="col">
                        <form action="http://127.0.0.1:5000/cabinet" method="post" name="form" class="form py-3 back_w">
                            <div class="form-group px-3">
                                <label for="InputTel" class="col-form-label col-form-label-md pt-0">Логин (номер телефона)</label>
                                <input type="text" name="tel" class="phone form-control form-control-lg" id="InputTel">
                            </div>
                            <div class="form-group px-3">
                                <label for="InputPassword1" class="col-form-label col-form-label-md">Пароль</label>
                                <input type="password" class="form-control form-control-lg" id="InputPassword1">
                            </div>
                            <button type="submit" class="btn text-white w-25 mt-2 ml-3" style="background-color: #15a98b;">
                                Войти
                            </button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
        <script>
        $(".phone").mask("+7(999)999-9999");
    </script>
    <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>
</body>

</html>
