<!DOCTYPE html>
<html lang="ru">

<head>
    <!-- Required meta tags -->
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">

    <link rel="stylesheet" href="{{ url_for('static', filename='stylelog_reg.css')}}">
    <link rel="stylesheet" href="{{ url_for('static', filename='stylemod.css')}}">

    <title>Продажа</title>

</head>

<body class="back">

    <nav class="navbar navbar-expand-md navbar-dark bg-dark">
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item">
                    <a class="nav-link" href="cabinet">Личный кабинет</a>
                </li>
                <li class="nav-item active">
                    <a href="sale" class="button nav-link">Продажа</a>
                </li>
                <li class="nav-item">
                    <a href="book" class="button nav-link">Добавление книги</a>
                </li>
                <li class="nav-item">
                    <a href="create_pok" class="button nav-link">Создание покупателя</a>
                </li>
                <li class="nav-item">
                    <a href="create_rab" class="button nav-link">Создание работника</a>
                </li>
                <li class="nav-item">
                    <a href="del" class="button nav-link">Удаление книги</a>
                </li>
            </ul>
        </div>
    </nav>

    <div class="container">
        <div class="row">
            <div class="col-md-6 offset-md-3">
                <div class="form-group pt-3 pl-3">
                    <p class="pt-2">ФИО: {{ fio }}</p>
                </div>
                <div class="form-group pl-3">
                    <ul class="navbar-nav mr-auto">
                        <!-- Ссылки на вызов модальных окон -->
                        <li>
                            <a href="#win1" class="button nav-link">Каталог книг</a>
                        </li>
                    </ul>
                </div>
                <a href="#x" class="overlay" id="win1"></a>
                <div class="popup">
                    <a class="close" title="Закрыть" href="#close"></a>
                    <div class="heig">
                        <p class="pt-2">Каталог: {{ сatalog }}</p>
                    </div>
                </div>
                <form action="http://127.0.0.1:5000/sale" method="post" name="form" id="form_book" class="py-1 back_w needs-validation" novalidate>
                    <div class="form-group px-3">
                        <label for="IDBook" class="col-form-label col-form-label-md pt-0">id книги</label>
                        <input type="text" name="id_books" class="form-control form-control-lg" id="IDBook" onkeyup="ae();" required>
                    </div>
                </form>
                <form action="http://127.0.0.1:5000/id_books" method="post" name="form" class="py-1 back_w needs-validation" novalidate>
                    <div class="form-group px-3" id="div1">
                        <label for="IDBook" class="col-form-label col-form-label-md pt-0">id книги</label>
                        <input type="text" name="id_books" class="form-control form-control-lg" id="IDBook2">
                    </div>
                    <div class="form-group px-3">
                        <label for="InputEmail" class="col-form-label col-form-label-md pt-0">Email</label>
                        <input type="email" name="email" class="form-control form-control-lg" id="InputEmail" required>
                    </div>
                    <div class="form-group px-3">
                        <label for="price" class="col-form-label col-form-label-md pt-0">Стоимость книги</label>
                        <input type="number" name="price" class="form-control form-control-lg" id="price" required>
                    </div>
                    <div class="form-group px-3">
                        <label for="date" class="col-form-label col-form-label-md pt-0">Дата</label>
                        <input type="data" name="date" class="form-control form-control-lg" id="date" required>
                    </div>
                    <button type="submit" class="btn text-white w-25 mt-2 ml-3" style="background-color: #15a98b;">
                        Продать
                    </button>
                </form>
                <form action="http://127.0.0.1:5000/search" method="post" name="form" class="py-1 back_w needs-validation" novalidate>
                    <div class="form-group mt-3">
                        <p class="pt-2 pl-3" style="color: #15a98b; text-align: center;">Поиск</p>
                    </div>
                    <div class="form-group px-3">
                        <label for="IDBook" class="col-form-label col-form-label-md pt-0">id книги</label>
                        <input type="text" name="id_books" class="form-control form-control-lg" id="IDBook3" required>
                    </div>
                    <button type="submit" class="btn text-white w-25 mt-2 ml-3 mb-2" style="background-color: #15a98b;">
                        Искать
                    </button>
                    <div class="form-group pb-5 pl-3">
                        <p class="pt-2">Результат: {{ search }}</p>
                    </div>
                </form>
            </div>
        </div>
    </div>

    <script>
    function ae(){
        document.getElementById("form_book").submit();
        }
    </script>
    <script>
        document.getElementById("div1").style.display = "none";
        var d = new Date();
        var day = d.getDate();
        var month = d.getMonth() + 1;
        var year = d.getFullYear();
        var name_input = document.getElementById('date')
        name_input.value = day + "-" + month + "-" + year;
    </script>
    <script>
        var bid = document.getElementById('IDBook');
        var bid2 = document.getElementById('IDBook2');
        var np = document.getElementById('price');
        bid.value = {{ id_books }};
        bid2.value = {{ id_books }};
        np.value = {{ price }};
    </script>
    <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>
    <script src="{{ url_for('static', filename='login.js')}}"></script>
</body>

</html>
